body{
    margin: 0;
    min-width: 100vh;
    /*definir alto de la pantalla*/
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 34, 32);
}
.reloj{
    border: 16px solid #fc4b08;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
    font-family: monospace;
    font-size: 3rem;
    color: #fc4b08;
}
.reloj:hover{
    border: 1rem solid rgb(0, 132, 255);
    color: rgb(0, 132, 255);
}